// App layouts Stylling

$main-bc-color: #fff;
$font-color: #e2474b;
$accend-color: #406d96;
$font-header: "Arvo", serif;
$font-text: "Noto Sans", sans-serif;
// 1 . App- Header Component
// Styling for all the elements in Header Component

.app-header {
  top: 0;
  h1.app-header-brand {
    background-color: $main-bc-color;
    position: relative;
    width: 100vw;
    text-align: center;
    margin: 0;
    i {
      color: $font-color;
      margin: 2vh 3vw;
    }
    a {
      color: $font-color;
      font-family: $font-header;
    }
  }
}

// Stlling for Loader Component

lds-hourglass {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 25vh auto;
  border: 26px solid $font-color;
  border-color: $accend-color transparent $font-color transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
